name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build with Maven
        run: mvn clean package
        working-directory: ./Books

      - name: Build Docker image
        id: build
        uses: docker/build-push-action@v3
        with:
          context: ./Books
          push: false
          tags: lynxeen/library_docker_k8s:latest

      - name: Push Docker image
        if: steps.build.outcome == 'success'
        uses: docker/build-push-action@v3
        with:
          context: ./Books
          push: true
          tags: lynxeen/library_docker_k8s:latest

      - name: Notify Build Status
        run: echo "Build and push successful!"
        if: steps.build.outcome == 'success'
